{% extends "base.html" %}

{% block content %}
    <h3> Nuestra Lista de Productos de Pura Calidad 😊 </h3>
<h4>¡¡¡A precios de Locura!!! 😱 🤩</h4>
    <ul>
      {% for producto in object_list %}
        <li>
          <a href="{% url 'product-detail' producto.pk %}">
            {{ producto.nombre }}
          </a>
            a S/. {{ producto.precio }}
        </li>
      {% empty %}
        <li>Aun no hay productos disponibles.</li>
      {% endfor %}
    </ul>
    <hr>
    <ul>
      <li> <a href="{% url 'home' %}">Inicio</a> </li>
    </ul>
{% endblock %}